<div class="container">

    <div class="row">
        <div class="col-md-9">
            <div *ngFor="let event of events">
                <app-event [value]="event" (deleteEventInstanceEvent)="deleteEvent($event)"></app-event>
            </div>
            <div class=" text-center ">
                <button class="btn btn-info center-block " (click)="modalpopup()">Add Event</button>

            </div>
            <div class="panel panel-primary text-center" *ngIf="modal">
                <div class="panel-heading">
                    <h3 class="panel-title">Event Add</h3>
                </div>
                <div class="panel-body">
                    <input type="text" placeholder="Time" [formControl]="timeInput"> <br>
                    <input type="text" placeholder="Subject" [formControl]="subjectInput"> <br>
                    <input type="text" placeholder="Location" [formControl]="locationInput"> <br>
                    <input type="text" placeholder="Description" [formControl]="descriptionInput"> <br>
                    <br>

                    <button class="btn btn-info" (click)="addNewEvent()">ADD</button>
                </div>
                <div class="panel-footer">

                </div>

            </div>


        </div>

        <div class="col-md-3 ">
            <h3 class="text-uppercase my-3 ">Schedule</h3>
            <h6 class="my-3 ">
                It's going to be busy that today. You have
                <b> {{ events.length }} events </b> today.
            </h6>
            <h1 class="my-3 ">
                <div class="row ">
                    <div class="col-3 text-center ">

                    </div>
                    <div class="col-9 ">Sunny</div>
                </div>
                <div class="row ">
                    <div class="col-3 text-center ">

                    </div>
                    <div class="col-3 ">23°C</div>
                </div>
            </h1>
            <p>
                Don't forget your sunglasses. Today will dry and sunny, becoming warm in the afternoon with temperatures of between 20 and 25 degrees.
            </p>
        </div>
    </div>
</div>

<!--
<div class="container ">
    <div class="row ">
        <div class="col-md-9 ">
            <app-event [value]="events "></app-event>

        </div>
        <div class="col-md-3 ">

              <h3 class="text-uppercase my-3 ">Schedule</h3>
      <h6 class="my-3 ">
        It's going to be busy that today. You have
        <b> {{ events.length }} events </b> today.
      </h6>
      <h1 class="my-3 ">
        <div class="row ">
          <div class="col-3 text-center ">
            <mdb-icon fas icon="sun "></mdb-icon>
          </div>
          <div class="col-9 ">Sunny</div>
        </div>
        <div class="row ">
          <div class="col-3 text-center ">
            <mdb-icon fas icon="thermometer-three-quarters "></mdb-icon>
          </div>
          <div class="col-3 ">23°C</div>
        </div>
      </h1>
      <p>
        Don't forget your sunglasses. Today will dry and sunny, becoming warm
        in the afternoon with temperatures of between 20 and 25 degrees.
      </p>
        </div>
    </div>
</div>

-->




<router-outlet></router-outlet>